<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>SigeoCam &ndash; Video Broadcast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/scripts/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body style="background-color: #eee;">
    <div class="container bg-white my-3 py-3 rounded">